@import "~Misc/variables.scss";

.formLogin {
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  padding: 30px 20px;
  background: $boxBackgroundColor;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 20px;
  }
}
