@import "~Misc/variables.scss";

.guide {
  position: fixed;
  background: $backgroundColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include breakpoint(tablet) {
      flex-direction: column;
    }

    &__w-bottom {
      height: calc(100% - 120px);
    }

    &__center {
      justify-content: center;
      height: auto;
    }

    &__bar {
      width: 5%;

      @include breakpoint(tablet) {
        width: 100%;
        height: 80px;
      }
    }

    &__content {
      width: 95%;

      @include breakpoint(tablet) {
        width: 100%;
        height: calc(100% - 80px);
      }
    }
  }

  &__bottom {
    display: flex;
    border-top: 1px #000 solid;
    height: 120px;
    align-items: center;
  }
}
