@import "~Misc/variables.scss";

.guide {
  position: fixed;
  background: $backgroundColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    display: flex;
    justify-content: space-between;

    &__center {
      justify-content: center;
    }

    &__bar {
      background: #f00;
    }

    &__content {
    }
  }

  &__bottom {
    background: #00f;
  }
}
