@import "~Misc/variables.scss";

.input {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px #999999 solid;
  box-sizing: border-box;

  &__title {
    font-size: $inputSmallSize;
    color: $textPrimaryColor;
    font-family: $fontText;
    margin: 0 5px;
  }

  &__placeHolder {
    font-size: $inputDefaultSize;
    color: $textSecundaryColor;
    font-family: $fontText;
    text-decoration: none;
    border: none;
    position: absolute;
    top: 12px;
    left: 5px;
  }

  &__writter {
    width: 100%;
    border: none;
    background: none;
    font-family: $fontText;
    font-size: $inputDefaultSize;
    color: $textPrimaryColor;
    padding: 10px 5px;
  }
}
