@import "~Misc/variables.scss";

.input {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px #999999 solid;
  box-sizing: border-box;

  &__title {
    font-size: $inputSmallSize;
    color: $textPrimaryColor;
    font-family: $fontText;
    margin: 0 5px;
  }

  &__placeHolder {
    width: 100%;
    font-size: $inputDefaultSize;
    color: $textSecundaryColor;
    font-family: $fontText;
    text-decoration: none;
    border: none;
    position: absolute;
    top: 12px;
    left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__writter {
    width: 100%;
    border: none;
    background: none;
    font-family: $fontText;
    font-size: $inputDefaultSize;
    color: $textPrimaryColor;
    padding: 10px 5px;
  }

  &__big {
    &__placeHolder {
      font-size: $inputBigSize;
      font-weight: bold;
      top: 14px;
    }

    &__writter {
      font-size: $inputBigSize;
      font-weight: bold;
    }
  }
}
