@import "~Misc/variables.scss";

.albumDetail {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;

  &__top {
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &__cover {
      flex: 1;
    }

    &__trackList {
      flex: 2;
      overflow: auto;
      padding-bottom: 50px;
    }
  }
}
