@import "~Misc/variables.scss";

.button {
  position: relative;
  align-self: flex-end;
  font-family: $fontText;
  font-size: $inputDefaultSize;
  color: $textPrimaryColor;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;

  &:before {
    position: absolute;
    display: block;
    content: "";
    left: 5px;
    top: 15px;
    width: 10px;
    height: 10px;
    border: 2px $textPrimaryColor solid;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 0.6;
  }
}
