@import "~Misc/variables.scss";

.albumThumb {
  $this: &;

  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 20px 50px 20px 0;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;

  &__image {
    width: 180px;
    height: 180px;
    background: $imageBackgroundColor;
    margin: 0 10px;
  }

  &__title,
  &__subtitle {
    font-family: $fontText;
    font-size: $inputSmallSize;
    color: $textPrimaryColor;
    line-height: 160%;
    margin: 10px 5px 0;
    text-align: center;
    white-space: normal;
  }

  &__subtitle {
    color: $textSecundaryColor;
  }

  &:hover {
    background: #fff;

    #{$this}__title {
      color: $boxBackgroundColor;
    }
  }
}
